body {
    background-color: #abf3db;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #343434;
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
    border-style: ridge;
    border-color: #568392
}